/*
    Document   : allotrope-js/style/homepage．css
    Created on : 2014-09-30 06:48 PM
    Author     : scott-swarthout
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
html{
	background: #E9FAFA;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.title{
/* 	margin: 0; */
  padding: 0;
  
  color: #000035;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 75px;
	text-align:center;
	text-decoration:none;
}
	

ul{
/*   columns:1; */
	
	display:block;
     padding:5px;
/* 	width:500px; */
	margin:0 auto;
	list-style-type: none;
	text-align:center;
	
	
}
li{
	
	vertical-align:middle;
	/*position: relative;*/
  display: inline-block;
  
  padding: 10px 20px;
/*   font-size: 25px; */
  height: 100px;
  line-height: 50px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}
button{
 	display: inline-block;
 	/*vertical-align: top;*/
font-size:40px;
  background: #382a63;
  border-radius: 3px;

	
	
  text-decoration: none;
  color: #f9f6f2;
  height: 60px;
	width:300px;

/*   line-height: 42px; */
/*   display: block; */
  text-align: center;
  
}